.period {
    &-box {
        display: flex;
        width: 100%;
        margin: 2rem 0;
        background: #575E6C;
        border-radius: 5px;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);

        & > * {
            width: 50%;
            padding: 2rem 3.5rem;
        }
    }

    &-headline {
        display: flex;
        justify-content: space-between;

        &-button {
            padding: .8rem 3rem;
            border: 1px solid #FFFFFF;
            border-radius: 5px;
            color: #FFFFFF;
            font-size: 2rem;
            background: transparent;
            transition: transform 250ms;

            &:hover {
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
                transform: translateY(-1.5px);
            }
        }
    }

    &-divider {
        margin: auto 0;
        height: 10rem;
        overflow: hidden;
        width: 1.5px;
        padding: 0;
        background: rgba(255, 255, 255, 0.35);
    }
}