.purchases-table {

    &-box {
        margin-top: 2rem;
        width: 100%;
        padding: 2rem 4rem;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        background: #575E6C;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    }

    &-header {
        display: flex;
        justify-content: space-between;
        padding: 2rem 4rem 0;
    }
}

.no-lunch {
    margin: 4rem auto;
    text-align: center;
    color: #FFF;
    font-size: 3rem;
}