@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @include query-for(landscape) {
        font-size: 56.25%;
    }

    @include query-for(tablet) {
        font-size: 50%;
    }

    @include query-for(desktop) {
        font-size: 75%;
    }
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-size: cover;
    min-height: 100vh;
    background: #0B222E;
}
