.shader {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .45);
}

.dialog {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background: #0B222E;
    border-radius: 5px;

    &-registered {
        margin: 1rem auto;
    }

    &-purchase {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        margin-top: 1rem;
        padding: 2rem;
        background: #575E6C;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);

        &-delete {
            margin-left: 4rem;
            padding: 1rem 3rem;
            background: #E46053;
            color: #FFFFFF !important;
            cursor: pointer;

            &:hover {
                background: rgb(226, 53, 37);
                color: #FFFFFF;
            }
        }
    }
}